barkbank-server/src/main/resources/hello.xsd

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://cxfdemo.example.com/v1.1"
    elementFormDefault="qualified" 
    targetNamespace="http://cxfdemo.example.com/v1.1" 
    version="1.0">
    <xs:element name="sayHello" type="tns:sayHello"/>
    <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
    
    <xs:complexType name="sayHello">
	<xs:sequence/>
    </xs:complexType>

    <xs:complexType name="sayHelloResponse">
	<xs:sequence>
	    <xs:element name="greeting" type="xs:string"/>
	</xs:sequence>
    </xs:complexType>
</xs:schema>